h1{
    text-align: center;
    font-family: 'jersey 10', cursive;
    font-weight: normal;
    font-size: 40px;
    }

h2{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-family: 'kristy', cursive;
}

h3{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EAE0CF;
    }

h4{
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    text-indent: 20px;
    }

h5{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-indent: 20px;
    }

.about  {
    text-align: left;
    font-size: 12pt;
    text-indent: 40px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}

html {
    background-color: #eae0cf;
}

header {
    text-align: center;
    background-color: #213448;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    padding: 10px;
}
body {
    text-align: left;
    background-color: #547792;
    font-family: 'Times New Roman', Times, serif;
}

body p {
    text-align: center;
}

footer {
    background-color: #eae0cf;
}

footer p {
    text-align: center;
    font-size: 10pt;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

footer p a {
    font-size: 12pt;
}

main {
    background-color: #94B4C1;
    padding: 10px;
}

#jazz {
    font-family: 'Quintessential', cursive;
    color: #161E54;
    font-size: 20pt;
    }

.hellobox {
    height: 200px;
    width: 300px;
    }

.css-logo {
    height: 275px;
    width: 300px;
    border: 5px solid #161E54;
    box-shadow: #213448 4px 4px 10px;
    border-radius: 10px;
    }

.dragonkitty {
    height: 300px;
    width: 250px;
    border: 3px solid #161E54;
    box-shadow: #213448 4px 4px 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coding {
    height: 250px;
    width: 400px;
    border: 5px solid #161E54;
    box-shadow: #213448 4px 5px 15px;
}

.motivational-poster {
    height: 250px;
    width: 450px;    
}

.description-paragraph {
    text-align: center;
}

.main-h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #161E54;
}