body {
  font-family: "Ceviche One", system-ui;
  margin: 50px 50px 0 50px;
  background-image: linear-gradient(#bbe0ef,#5A7ACD) ;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 48pt;
  text-align: center;
}

span {
  color: #00205B
}

footer {
  clear:both;
  text-align: center;
  color: midnightblue;
  font-family: 'Times New Roman', Times, serif;
}

.tile-image {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 50px;
  border-radius: 15%;
}

.card {
  width: 45%
}

.left {
  float: left
}

.right {
  float: right
}

@media(max-width:680px){
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }

  .card{
    width: 100%;
    display: block;
    margin: 30px;
    text-align: justify
  }

  .card img{
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

