.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}

mark[red] {
    background-color: red;
}

mark[blue] {
    background-color: rgba(12, 147, 236, 0.918);
}

mark[orange] {
    background-color: orange;
}

mark[green] {
    background-color: green;
}

mark[yellow] {
    background-color: yellow;
}

.footer {
    font-size: 14px;
    color: black;
    text-align: center;
}   

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    }

h2 { 
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.color-title {
    text-align: left;
    font-size: 22px;
}